/* 初始化样式文件 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  /* 原来的img默认与下边距有3px的距离，通过变为block来处理 */
  display: block;
}
