/* index页面样式文件 */
/* menu-left模块 */
.menu-left .logo {
  display: block;
  width: 100%;
  background-color: #429ad9;
  /* 这些在极小屏中才用的属性，应该写到媒体查询中去 */
  /*         >span {
            font-size: 24px;
            color:#fff;
        } */
}
.menu-left .logo > img {
  display: block;
  width: 100%;
}
.menu-left .menu-list {
  background-color: #eee;
  font-size: 18px;
}
.menu-left .menu-list > a {
  display: block;
  color: #666;
  padding: 10px 25px;
}
.menu-left .menu-list > a:hover {
  background-color: #fff;
}
/* menu-left end */
/* alx-content模块 */
.alx-content .alx-content-img {
  display: table-row;
}
.alx-content .alx-content-img .big-img {
  display: table-cell;
  width: 50%;
  background-color: #eee;
  vertical-align: top;
  position: relative;
}
.alx-content .alx-content-img .big-img img {
  display: block;
  width: 100%;
}
.alx-content .alx-content-img .big-img span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
  color: #fff;
  background-color: #666;
  padding: 20px 10px;
  width: 100%;
}
.alx-content .alx-content-img .small-img {
  display: table-cell;
  width: 50%;
}
.alx-content .alx-content-img .small-img > a {
  display: block;
  float: left;
  width: 50%;
  position: relative;
  border-left: 5px solid #fff;
}
.alx-content .alx-content-img .small-img > a > img {
  display: block;
  width: 100%;
  /* 控制图片大小 */
}
.alx-content .alx-content-img .small-img > a:nth-child(3) {
  clear: both;
}
.alx-content .alx-content-img .small-img > a span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 2px;
}
.alx-content .alx-content-img .small-img > a:nth-child(-n + 2) {
  border-bottom: 5px solid #fff;
}
.alx-content .alx-content-text .item {
  margin-top: 5px;
  border-top: 1px solid #000;
}
.alx-content .alx-content-text .item .shg-text {
  padding-top: 10px;
}
.alx-content .alx-content-text .item .shg-text a span {
  font-size: 14px;
  color: #666;
}
.alx-content .alx-content-text .item .my-img {
  padding: 10px;
}
.alx-content .alx-content-text .item .my-img img {
  display: block;
  width: 90%;
}
/* alx-content end */
/* memu-right模块 */
.menu-right .zgboke img {
  width: 100%;
}
.menu-right .zgboke-desc {
  margin-top: 20px;
  border: 1px solid #000;
  padding: 40px 20px 10px;
  position: relative;
}
.menu-right .zgboke-desc span {
  position: absolute;
  top: 0;
  left: 20px;
  padding: 10px;
  background-color: #0094ff;
  color: #fff;
}
/* menu-right end */
/* 针对小屏幕做一个适配 */
@media (min-width: 768px) and (max-width: 991px) {
  .menu-left .logo img {
    width: 25%;
    margin: 0 auto;
  }
  .menu-left .menu-list a {
    float: left;
    width: 20%;
  }
}
/* 针对极小屏幕的适配 */
@media screen and (max-width: 767px) {
  .menu-left .logo {
    text-align: center;
    font-size: 26px;
    color: #fff;
    padding: 20px;
  }
  .menu-left .menu-list a {
    float: left;
    width: 20%;
  }
  .alx-content .alx-content-img {
    display: block;
  }
  .alx-content .alx-content-img .big-img {
    display: block;
    width: 100%;
  }
  .alx-content .alx-content-img .small-img {
    display: block;
    width: 100%;
  }
  .alx-content .alx-content-img .small-img a {
    background-color: #ccc;
  }
  .alx-content .alx-content-img .small-img a img {
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
  }
  .alx-content .alx-content-img .small-img span {
    width: 100%;
  }
}
